<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login-form.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <section id="top-banner">
      <a id="signupButton" href="/register">Sign Up</a>
      <a id="forgotButton" href="/">Forgot Password</a>
    </section>
    <section id="login-container">
      <section id="login-box">
        <section id="login-form-box">
          <div>
            <p id="zagehub-title">ZageHub</p>
          </div>
          <div>
            <form id="login-form" action="/login" method="post">
              <p>
                <input id="username" type="text" placeholder="USERNAME" name="username" value="">
              </p>
              <p>
                <input id="password" type="password" placeholder="PASSWORD" name="password" value="">
              </p>
              <input id="loginButton" type="submit" name="" value="Login">
            </form>
          </div>
        </section>
      </section>
    </section>
  </body>
</html>
