<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login-form.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  </head>
  <body>
    <p id="sign-up">Sign Up</p>
    <section id="login-container">
      <section id="login-whitebox">
        <section id="login-form-box">
          <div>
            <p id="zagehub-title">ZageHub</p>
          </div>
          <div>
            <form id="login-form" action="index.html" method="post">
              <p>
                <label for="">Username: </label>
                <input type="text" placeholder="yourname@gmail.com" name="" value="">
              </p>
              <p>
                <label for="">Password: </label>
                <input type="text" placeholder="*******" name="" value="">
              </p>
              <input type="submit" name="" value="Login">
            </form>
          </div>
          <div>
            <p id="forgot-password"><i>Forgot Password?</i></p>
          </div>
        </section>
      </section>
    </section>
  </body>
</html>
