<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile-page.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  </head>
  <body>
    <section id="profile-header">
      <p>Username</p>
    </section>
    <section id="user-content">
      <section id="content-headers">
        <p id="your-classes">Your Classes: <p>
        <a id="add-class-button" href="">Add Class</a>
      </section>
      <section id="content-classes">
        <section class="class">
          <div class="class-name">
            <p><b>Physics</b></p>
          </div>
          <div class="class-grades">
            <p><i>Present grade:</i> 86.5% &emsp; <i>Minimum grade wanted:</i> 90.0% &emsp; <i>Percent needed on final:</i> 88.6%</p>
          </div>
          <div class="class-buttons">
            <a href="#"><b>Edit</b></a>
            &emsp;
            <a href="#"><b>Delete</b></a>
          </div>
        </section>

        <section class="class">
          <div class="class-name">
            <p><b>Analysis</b></p>
          </div>
          <div class="class-grades">
            <p><i>Present grade:</i> 82.5% &emsp; <i>Minimum grade wanted:</i> 80.0% &emsp; <i>Percent needed on final:</i> 81.3%</p>
          </div>
          <div class="class-buttons">
            <a href="#"><b>Edit</b></a>
            &emsp;
            <a href="#"><b>Delete</b></a>
          </div>
        </section>

      </section>
    </section>
  </body>
</html>
