/* Signup Page */
body, html {
    height: 100%;
    margin: 0px;
    font-family: 'Montserrat', serif;
}

#signup-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-box{
  z-index: 1;
  height: 300px;
  width: 500px;
  margin-top: -150px;
  background-color: #6DA3B2;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form-box {
  margin-top: -15px;
  height: 200px;
  width: 300px;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  text-align: center;
}

#zagehub-title {
  font-size: 50px;
  margin: -10px;
  color: white;
}

form {
  font-size: 17px;
  color: white;
}

#sign-up {
  position: absolute;
  margin: 20px;
  font-size: 17px;
  color: white;
}

#sign-up:hover {
  text-decoration: underline;
  cursor: move;
}

#login-form{
  font-size: 1.4em;
  margin-top: 35px;
}

#loginButton{
  width: 4.5em;
  height: 2em;
  padding: 5px;
  padding-bottom: 10px;
  font-size: 1.2em;
  margin-top: -8px;
  border: 3px solid #6DA3B2;
  border-radius: 200px;
  color: #6DA3B2;
  cursor: pointer;
  outline: none;
}

#loginButton:hover{
  font-size: 1.3em;
}

#username, #password{
  text-align: center;
  font-size: .7em;
  width: 230px;
  outline: none;
  border: none;
  border-radius: 200px;
  padding: 7px;
  margin: 5px;
}

#top-banner{
  display: grid;
  grid-template-columns: 10%, 80%, 10%;
  height: 250px;
  background-image: url("/images/schoolVector.png");
  border-bottom: 3px solid #6DA3B2;
}

#signupButton{
  padding: 10px;
  font-size: 1.6em;
  margin-top: 10px;
  margin-left: 5px;
  border: 3px solid #6DA3B2;
  border-radius: 200px;
  color: #6DA3B2;
  cursor: pointer;
  outline: none;
  background: white;
  text-decoration: none;
  text-align: center;
}

#signupButton:hover {
  font-size: 1.7em;
}
